<div id="<%= dom_id parking %>">
  <p>
    <strong>Clientname:</strong>
    <%= parking.clientname %>
  </p>

  <p>
    <strong>Clientaddress:</strong>
    <%= parking.clientaddress %>
  </p>

  <p>
    <strong>Clientphone:</strong>
    <%= parking.clientphone %>
  </p>

  <p>
    <strong>Carvin:</strong>
    <%= parking.carvin %>
  </p>

  <p>
    <strong>Caryear:</strong>
    <%= parking.caryear %>
  </p>

  <p>
    <strong>Carmake:</strong>
    <%= parking.carmake %>
  </p>

  <p>
    <strong>Carmodel:</strong>
    <%= parking.carmodel %>
  </p>

  <p>
    <strong>Cartrim:</strong>
    <%= parking.cartrim %>
  </p>

  <p>
    <strong>Carplate:</strong>
    <%= parking.carplate %>
  </p>

  <p>
    <strong>Checkintime:</strong>
    <%= parking.checkintime %>
  </p>

  <p>
    <strong>Checkouttime:</strong>
    <%= parking.checkouttime %>
  </p>

  <p>
    <strong>Checkinatt:</strong>
    <%= parking.checkinatt %>
  </p>

  <p>
    <strong>Checkoutatt:</strong>
    <%= parking.checkoutatt %>
  </p>

  <p>
    <strong>Facilityspot:</strong>
    <%= parking.facilityspot %>
  </p>

  <p>
    <strong>Facilityname:</strong>
    <%= parking.facilityname %>
  </p>

  <p>
    <strong>Facilityaddress:</strong>
    <%= parking.facilityaddress %>
  </p>

</div>
